<div class="row">
    <div class="col-md-12">
        <div style="width: 100%;height:400px;background-image: url('/images/img1.png');background-size: 100% 100%;">
            <div style="background-color:#27aaff;color: #ffffff;width: 500px;height: 200px;top: 180px;position: absolute;left: 50px;padding: 10px;">

                <h2><%=point.title%></h2>

                 <span>
                    <%=point.content%>
                 </span>

            </div>
        </div>
    </div>

</div>